.links-section {
    position: relative;
    padding-top: 100px;

    .shape {
        top: -5px;
        width: calc(100% - 18px);
        left: 16px;
        color: $blue-ice;
        fill: $blue-ice;
    }

    &.gateway {
        padding-top: 0;
        padding-bottom: 70px;
    }

    &.news {
        padding: 90px 0 175px;

        ul {
            margin-bottom: 50px;
        }

        >.shape {
            color: $brown;
            fill: $brown;
            width: calc(100% - 80px);
            left: 50%;
            transform: translateX(-50.2%);
        }

        .uk-button {
            position: relative;
            z-index: 1;
        }
    }

    &.involve {
        padding: 285px 0 100px;
        margin-top: -265px;

        .links-inner {
            clip-path: url('#svgPathGetInvolved');
            position: absolute;
            top: 0;
            bottom: 0;
            left: 50px;
            width: calc(100% - 100px);

            &::after {
                position: absolute;
                background-color: rgba($green-dark-alt, .8);
                left: 0;
                top: 0;
                bottom: 0;
                width: 100%;
                content: '';
            }

            @supports (mix-blend-mode: multiply) {
                &::after {
                    mix-blend-mode: multiply;
                    background-color: $green-dark-alt;
                }
            }
        }
    }

    @media (max-width: $breakpointLarge) {
        padding-top: 90px;

        >.uk-container {
            padding: 0 60px;
        }
    }

    @media (max-width: $breakpointSmall) {
        padding-top: 110px;

        .shape {
            width: 100%;
            left: 0;
        }

        >.uk-container {
            padding: 0 20px;
        }
    }
}

.links-text {
    max-width: 660px;
    width: 100%;
    z-index: 1;
    position: relative;

    h2 {
        font-size: 57px;
        margin-bottom: 30px;
        color: $white;
    }

    p {
        font-size: 20px;
    }

    @media (max-width: $breakpointLarge) {
        max-width: 580px;

        h2 {
            margin-bottom: 10px;
        }

        p {
            margin: 10px 0 40px;
        }
    }

    @media (max-width: $breakpointSmall) {
        h2 {
            font-size: 44px;
        }

        p {
            font-size: 18px;
        }
    }
}

.link-box,
.link-box-alt {
    clip-path: url('#svgPathNewsAndEvents');
    overflow: hidden;
    box-shadow: none;
}

.link-box {
    min-height: 320px;
    background-color: rgba($green-dark-alt, .7);
    transition: $nbSec ease-in-out;

    h3 {
        margin-bottom: 0;
        font-size: 26px;
    }

    .uk-card-body {
        padding: 35px 25px;
    }

    @include hover {
        background-color: $brick;
    }
}

.link-box-alt {
    // clip-path: url('#svgPathLinks');
    min-height: 365px;
    // background-color: $orange;
    background-color: $green-dark-alt;
    z-index: 0;

    >span {
        &.uk-text-bold {
            position: absolute;
            font-size: 13px;
            left: 40px;
            top: 30px;
            background-color: $brown;
            display: block;
            border-radius: 3px;
            z-index: 11;
            padding: 2px 11px 3px 13px;
        }
    }

    h3,
    p,
    span {
        color: $white;
    }

    h3 {
        font-weight: $bold;
        position: relative;
        padding-bottom: 15px;
        backface-visibility: hidden;
        margin-bottom: 0;
    }

    .uk-card-media-top {
        backface-visibility: hidden;
        transition: $nbSec ease-in-out;
        position: absolute;
        height: auto;
        width: 100%;
        left: 0;
        top: 0;
        z-index: 10;
        bottom: 0;

        &::before {
            content: '';
            position: absolute;
            left: 0%;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            backface-visibility: hidden;
        }
    }

    .uk-card-body {
        z-index: 10;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        backface-visibility: hidden;
        padding: 25px 40px;
        min-height: 1px;
        transition: min-height .35s;

        span {
            font-family: $font-roboto;
            font-size: 14px;
        }

        p {
            font-size: 16px;
            padding-top: 25px;
            font-weight: 400;
            margin-bottom: 25px;
        }
    }

    .uk-card-title {
        font-size: 26px;
        line-height: 1.2;
        margin: 5px 0;
    }

    .link-box-text {
        background-color: $green-dark-alt;
        opacity: 0;
        transition: opacity .25s, transform .45s ease;
        transform: translateY(30px);
        padding-right: 65px;
    }

    .read-more {
        bottom: 30px;
        height: calc(100% - 32px);
    }

    @include hover {
        .uk-card-media-top {
            transform: translateY(-50%);
        }

        .uk-card-body {
            min-height: 93% !important; // sass-lint:disable-line no-important
            transition: min-height 0.35s;
        }

        .link-box-text {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @media (max-width: $breakpointSmall) {
        min-height: 390px;

        .uk-card-body {
            padding: 20px 20px 30px 30px;
        }

        @include hover {
            .uk-card-body {
                min-height: 68% !important; // sass-lint:disable-line no-important
            }
        }
    }
}

.gateway {

    .link-box,
    .uk-card-body {
        background-color: $blue-light;
    }
}
