.links-section {
    position: relative;
    padding-top: 100px;

    &.gateway {
        padding-top: 0;
        padding-bottom: 70px;
    }

    .shape {
        top: -5px;
        width: calc(100% - 18px);
        left: 16px;
        color: $blue-ice;
    }

    @media (max-width: $breakpointLarge) {
        padding-top: 90px;

        >.uk-container {
            padding: 0 60px;
        }
    }

    @media (max-width: $breakpointSmall) {
        padding-top: 110px;

        .shape {
            width: 100%;
            left: 0;
        }

        >.uk-container {
            padding: 0 20px;
        }
    }
}

.links-text {
    max-width: 660px;
    width: 100%;

    h2 {
        font-size: 57px;
    }

    p {
        font-size: 20px;
    }

    @media (max-width: $breakpointLarge) {
        max-width: 580px;

        h2 {
            margin-bottom: 10px;
        }

        p {
            margin: 10px 0 40px;
        }
    }

    @media (max-width: $breakpointSmall) {
        h2 {
            font-size: 44px;
        }

        p {
            font-size: 18px;
        }
    }
}

.link-box {
    clip-path: url('#svgPathLinks');
    min-height: 390px;
    overflow: hidden;
    position: relative;
    background-color: $orange;
    box-shadow: none;
    z-index: 0;

    h3,
    p {
        color: $black;
        padding-left: 7px;
        padding-right: 7px;
    }

    h3 {
        font-weight: $bold;
        position: relative;
        padding-bottom: 12px;
        backface-visibility: hidden;
        margin-bottom: 0;
    }

    p {
        font-size: 16px;
    }

    .uk-card-media-top {
        backface-visibility: hidden;
        transition: $nbSec ease-in-out;
        position: absolute;
        height: auto;
        width: 100%;
        left: 0;
        top: 0;
        z-index: 10;
        bottom: 0;

        &::before {
            content: '';
            position: absolute;
            left: 0%;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            backface-visibility: hidden;
        }
    }

    .uk-card-body {
        z-index: 10;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $orange;
        backface-visibility: hidden;
        padding: 25px 20px;
        min-height: 1px;
        transition: min-height .35s;
    }

    .uk-card-title {
        font-size: 26px;
        line-height: 1.2;
    }

    .link-box-text {
        opacity: 0;
        transition: opacity .25s, transform .45s ease;
        transform: translateY(30px);
    }

    .uk-button {
        left: 25px;
        bottom: 0;
        margin-bottom: 30px;
        z-index: 101;
        transition: .25s;
        position: absolute;
        opacity: 0;
        color: $black;

        &::after {
            background-color: $white;
        }
    }

    .read-more {
        bottom: 30px;
        height: calc(100% - 32px);
    }

    @include hover {
        .uk-card-media-top {
            transform: translateY(-60%);
        }

        .uk-card-body {
            min-height: 88% !important; // sass-lint:disable-line no-important
            transition: min-height 0.35s;
        }

        .link-box-text {
            opacity: 1;
            transform: translateY(0);
        }

        .uk-button {
            opacity: 1;
            transition: .25s;
        }
    }

    @media (max-width: $breakpointLarge) {
        min-height: 420px;
        .uk-button span {
            max-width: calc(100% - 15px);
            padding-right: 20px;
            &::before {
                right: 10px;
            }
        }
    }
     
    @media (max-width: $breakpointSmall) {
        min-height: 390px;
        .uk-button span {
            max-width: none;
            padding-right: 40px;
            &::before {
                right: 20px;
            }
        }
        .uk-card-body {
            padding: 20px 20px 30px 30px;
        }

        @include hover {
            .uk-card-body {
                min-height: 68% !important; // sass-lint:disable-line no-important
            }
        }
    }
}

.gateway {

    .link-box,
    .uk-card-body {
        background-color: $blue-light;
    }
}
