@font-face {
	font-family: 'svgicons';
	src: url('../fonts/svgicons.woff2') format('woff2'),
		url('../fonts/svgicons.woff') format('woff'),
		url('../fonts/svgicons.ttf') format('truetype');
}

@mixin font-styles {
	font-family: 'svgicons';
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
	display: block;
	line-height: 1;
}

%font {
	@include font-styles;
}

@function font-char($filename) {
	$char: "";

	@if $filename == arrow-right {
		$char: '\E001';
	}
	@if $filename == brown-stoat {
		$char: '\E002';
	}
	@if $filename == calendar {
		$char: '\E003';
	}
	@if $filename == chevron-down {
		$char: '\E004';
	}
	@if $filename == donate  {
		$char: '\E005';
	}
	@if $filename == envelope {
		$char: '\E006';
	}
	@if $filename == offer-land-access {
		$char: '\E007';
	}
	@if $filename == right-arrow {
		$char: '\E008';
	}
	@if $filename == volunteer {
		$char: '\E009';
	}

	@return $char;
}

@mixin font($filename, $insert: before, $extend: true) {
	&:#{$insert} {
		@if $extend {
			@extend %font;
		} @else {
			@include font-styles;
		}
		content: font-char($filename);
	}
}

[class*='font-ico'] {
	display: inline-block;
}

.font-arrow-right {
	@include font(arrow-right);
}
.font-brown-stoat {
	@include font(brown-stoat);
}
.font-calendar {
	@include font(calendar);
}
.font-chevron-down {
	@include font(chevron-down);
}
.font-donate  {
	@include font(donate );
}
.font-envelope {
	@include font(envelope);
}
.font-offer-land-access {
	@include font(offer-land-access);
}
.font-right-arrow {
	@include font(right-arrow);
}
.font-volunteer {
	@include font(volunteer);
}
