@font-face {
	font-family: 'svgicons';
	src: url('../fonts/svgicons.woff2') format('woff2'),
		url('../fonts/svgicons.woff') format('woff'),
		url('../fonts/svgicons.ttf') format('truetype');
}

@mixin font-styles {
	font-family: 'svgicons';
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
	display: block;
	line-height: 1;
}

%font {
	@include font-styles;
}

@function font-char($filename) {
	$char: "";

	@if $filename == arrow-right {
		$char: '\E001';
	}
	@if $filename == binoculars {
		$char: '\E002';
	}
	@if $filename == bird-logo {
		$char: '\E003';
	}
	@if $filename == calendar {
		$char: '\E004';
	}
	@if $filename == charity {
		$char: '\E005';
	}
	@if $filename == chevron-arrow-down {
		$char: '\E006';
	}
	@if $filename == chevron-down {
		$char: '\E007';
	}
	@if $filename == envelope {
		$char: '\E008';
	}
	@if $filename == ermine {
		$char: '\E009';
	}
	@if $filename == external-link {
		$char: '\E00A';
	}
	@if $filename == facebook-box {
		$char: '\E00B';
	}
	@if $filename == family {
		$char: '\E00C';
	}
	@if $filename == farming-and-gardening {
		$char: '\E00D';
	}
	@if $filename == hills {
		$char: '\E00E';
	}
	@if $filename == instagram-logo {
		$char: '\E00F';
	}
	@if $filename == live-streaming {
		$char: '\E010';
	}
	@if $filename == man {
		$char: '\E011';
	}
	@if $filename == map-pin {
		$char: '\E012';
	}
	@if $filename == mission {
		$char: '\E013';
	}
	@if $filename == newspaper-solid {
		$char: '\E014';
	}
	@if $filename == play-button-arrowhead {
		$char: '\E015';
	}
	@if $filename == professions-and-jobs {
		$char: '\E016';
	}
	@if $filename == right-arrow {
		$char: '\E017';
	}
	@if $filename == rounded-corner-white-1 {
		$char: '\E018';
	}
	@if $filename == rounded-corner-white {
		$char: '\E019';
	}
	@if $filename == sea-weasel-mammal-shape {
		$char: '\E01A';
	}
	@if $filename == stick-man {
		$char: '\E01B';
	}
	@if $filename == stoat-orange-map-icon {
		$char: '\E01C';
	}
	@if $filename == time {
		$char: '\E01D';
	}
	@if $filename == volunteer-1 {
		$char: '\E01E';
	}
	@if $filename == volunteer {
		$char: '\E01F';
	}
	@if $filename == weasel {
		$char: '\E020';
	}
	@if $filename == witness {
		$char: '\E021';
	}

	@return $char;
}

@mixin font($filename, $insert: before, $extend: true) {
	&:#{$insert} {
		@if $extend {
			@extend %font;
		} @else {
			@include font-styles;
		}
		content: font-char($filename);
	}
}

[class*='font-ico'] {
	display: inline-block;
}

.font-arrow-right {
	@include font(arrow-right);
}
.font-binoculars {
	@include font(binoculars);
}
.font-bird-logo {
	@include font(bird-logo);
}
.font-calendar {
	@include font(calendar);
}
.font-charity {
	@include font(charity);
}
.font-chevron-arrow-down {
	@include font(chevron-arrow-down);
}
.font-chevron-down {
	@include font(chevron-down);
}
.font-envelope {
	@include font(envelope);
}
.font-ermine {
	@include font(ermine);
}
.font-external-link {
	@include font(external-link);
}
.font-facebook-box {
	@include font(facebook-box);
}
.font-family {
	@include font(family);
}
.font-farming-and-gardening {
	@include font(farming-and-gardening);
}
.font-hills {
	@include font(hills);
}
.font-instagram-logo {
	@include font(instagram-logo);
}
.font-live-streaming {
	@include font(live-streaming);
}
.font-man {
	@include font(man);
}
.font-map-pin {
	@include font(map-pin);
}
.font-mission {
	@include font(mission);
}
.font-newspaper-solid {
	@include font(newspaper-solid);
}
.font-play-button-arrowhead {
	@include font(play-button-arrowhead);
}
.font-professions-and-jobs {
	@include font(professions-and-jobs);
}
.font-right-arrow {
	@include font(right-arrow);
}
.font-rounded-corner-white-1 {
	@include font(rounded-corner-white-1);
}
.font-rounded-corner-white {
	@include font(rounded-corner-white);
}
.font-sea-weasel-mammal-shape {
	@include font(sea-weasel-mammal-shape);
}
.font-stick-man {
	@include font(stick-man);
}
.font-stoat-orange-map-icon {
	@include font(stoat-orange-map-icon);
}
.font-time {
	@include font(time);
}
.font-volunteer-1 {
	@include font(volunteer-1);
}
.font-volunteer {
	@include font(volunteer);
}
.font-weasel {
	@include font(weasel);
}
.font-witness {
	@include font(witness);
}

