.nb-main {
	h1 {
		max-width: 740px;
	}

	.nb-btn-label {
		color: $brown;
		font-weight: $light;
		margin-bottom: 15px;
	}

	.uk-text-meta {
		color: $brown;
	}

	.uk-text-lead {
		margin-bottom: 40px;
	}
}

.nb-block {
	clear: both;
	margin: $nbSpace 0;

	&:first-of-type {
		margin-top: 0;
	}

	[data-uk-lightbox] a {
		cursor: zoom-in;
	}

	&-content {
		p {
			font-weight: 400;
		}

		h2 {
			margin-top: 35px;
		}

		p .uk-button-text,
		li .uk-button-text {
			font-weight: $light;
			color: $brick;
			font-size: 18px;
			vertical-align: inherit;
			line-height: inherit;

			&::before,
			&::after {
				background-color: $brick;
				height: 1px;
				bottom: 2px;
			}

			@include hover {
				color: $brick;

				&::before,
				&::after {
					border: 0;
				}
			}
		}

		figure {
			display: table;
			margin-top: 0;
			outline: none;

			a {
				cursor: zoom-in;
				display: block;
				width: 100%;
			}

			img {
				display: block;
				height: auto;

				@media (max-width: $breakpointMobile) {
					width: 100%;
				}
			}
		}

		figcaption {
			caption-side: bottom;
			display: table-caption;
			font-family: $font-roboto;
			color: $brown;
			font-size: .875rem;
			padding: $nbGutterSmall * 3;
			text-align: center;
		}

		.align_right {
			float: right;
			margin-bottom: $nbSpace;
			margin-left: $nbSpace;
		}

		.align_left {
			float: left;
			margin-bottom: $nbSpace;
			margin-right: $nbSpace;
		}

		.align_center {
			clear: both;
			margin: $nbSpace auto;
			text-align: center;
		}

		ul {
			padding-left: 0;
		}

		@media (max-width: $breakpointMobile) {

			.align_right,
			.align_left,
			.align_center {
				clear: both;
				float: none;
				margin: $nbSpaceSmall 0;
				width: 100%;
			}
		}

		.TextformatterVideoEmbed {
			margin: $nbSpace 0;
		}

		ul:not(.uk-breadcrumb) {
			margin-bottom: 40px;

			li {
				margin-bottom: 15px;
				color: $black;
				padding-left: 20px;
				position: relative;
				font-size: 18px;
				color: $brown;
				font-weight: $light;

				&::after {
					display: block;
					content: '';
					width: 7px;
					height: 7px;
					background: $brown;
					z-index: 1;
					left: 0;
					top: 10px;
					position: absolute;
				}

				img {
					margin-right: 10px;
					width: 15px;
					height: auto;
				}
			}
		}

		.uk-text-small {
			color: $brown;
		}
	}

	&-gallery {
		h2 {
			margin-top: 0;
		}

		.nb-gallery-images {
			margin: 0 -$nbGutterXsmall;
			overflow: hidden;

			.nb-gallery-row {
				display: table;
				width: 100%;

				.nb-gallery-image {
					background-color: $white;
					border: $nbGutterXsmall solid transparent;
					display: table-cell;
					margin: 0;
					outline: none;
					overflow: hidden;
					position: relative;
					vertical-align: top;
					transition: $nbSec ease-in-out;

					img {
						height: auto;
						width: 100%;
						vertical-align: middle;
						transition: $nbSec ease-in-out;
					}

					@include hover {
						img {
							transform: scale(.95);
						}
					}
				}
			}

			.uk-container-expand & {
				margin: 0 $nbGutterXsmall;
			}
		}

		.nb-gallery-caption {
			font-size: 14px;
			color: $brown;
			font-family: $font-roboto;
		}
	}

	&-embed {
		iframe {
			width: 100%;
		}
	}
}

.nb-no-hero {

	h1 {
		color: $brown;
		margin-top: 200px;
	}
}
