.nb-credit {
	line-height: 1;

	a {
		color: $brown;
		font-size: 13px;
		font-weight: $bold;

		@include hover {
			color: $nbRed;
			text-decoration: none;
		}

		img {
			height: 0.9rem;
			vertical-align: bottom;
		}
	}
	@media (max-width: $breakpointSmall) {
		justify-content: flex-start;
		margin-top: 25px;
	}
}
