.footer {
    padding: 0 30px;

    @media (max-width: $breakpointSmall) {
        padding: 0;

        .uk-container {
            padding: 0 20px;
        }

        .uk-first-column {
            padding-bottom: 25px;
        }
    }
}

.footer-middle {
    position: relative;
    padding: 55px 0;
    width: 100%;
    z-index: 0;

    h2 {
        font-size: 34px;
        margin-bottom: 25px;
    }

    h2,
    p,
    li,
    span {
        font-weight: $light;
    }

    h3 {
        font-weight: $bold;
        font-size: 18px;
        margin: 0 0 10px 0;
    }

    p {
        font-size: 18px;
    }

    li,
    a:not(.uk-button),
    span {
        font-size: 16px;
    }

    li {
        color: $brown;
    }

    .uk-button.blue {
        text-align: left;

        .font-newspaper-solid {
            color: $brown;
            padding: 15px 26px 15px 55px;

            &::before {
                left: 23px;
                right: auto;
            }
        }
    }

    span {
        color: $brown;

        a {
            display: inline-block;
            color: $brown;
            font-weight: $bold;
            position: relative;
            line-height: 1.2;
            margin-bottom: 0;

            &::before {
                font-size: 15px;
                color: $brown;
                display: inline-block;
                margin: 0 5px;
                position: relative;
                top: 1px;
            }
        }
    }

    ul {
        padding: 0;
        margin: 0;
    }

    .enquiries .uk-button-text {
        font-weight: $light;
        color: $brick;
        font-size: 16px;
        line-height: 1.5;
        margin-bottom: 28px;

        &::before,
        &::after {
            background-color: $brick;
            height: 1px;
            bottom: 2px;
        }

        @include hover {
            color: $brick;

            &::before,
            &::after {
                border: 0;
            }
        }
    }

    @media (max-width: $breakpointLarge) {
        padding: 60px 0 55px;

        >.uk-container {
            padding: 0 50px;

            >.uk-flex {
                flex-direction: column;

                >.uk-flex-between:first-of-type {
                    margin-bottom: 60px;
                }
            }

            .nb-copyright {
                padding-bottom: 35px;
            }
        }
    }
    @media (max-width: 667px) {
        >.uk-container {
            position: relative;
            top: -30px;
        }
        
    }

    @media (max-width: $breakpointSmall) {
        padding: 5px 0 50px;

        >.uk-container {
            padding: 0 20px;
            top: -50px;

            .uk-button-primary {
                width: 100%;

                &:not(.blue) {
                    text-align: left;
                    margin-top: 25px;
                }

                &.blue .font-newspaper-solid {
                    padding: 15px 19px 15px 50px;

                    &::before {
                        left: 20px;
                        font-size: 18px;
                    }
                }
            }

            >.uk-flex {
                >.uk-flex {
                    flex-direction: column;
                }

                >.uk-flex-between:first-of-type {
                    margin-bottom: 50px;
                }
            }
        }

        .enquiries {
            padding-top: 60px;
        }
    }
}

.footer-bottom {
    padding: 25px 0;

    span {
        font-size: 26px;
        font-weight: $light;
        color: $brown;
    }

    @media (max-width: $breakpointLarge) {
        padding: 25px 0 45px;

        span {
            margin-bottom: 30px;
            display: block;
        }
    }

    @media (max-width: $breakpointSmall) {
        span.uk-first-column {
            padding-bottom: 0;
        }

        padding: 25px 0 20px;
    }
}
