.footer {
    padding: 0 30px;

    @media (max-width: $breakpointSmall) {
        padding: 0;

        .uk-container {
            padding: 0 20px;
        }

        .uk-first-column {
            padding-bottom: 25px;
        }
    }
}

.footer-top,
.footer-middle {
    position: relative;

    >svg {
        width: 100%;
        max-width: 100%;
        height: auto;
        z-index: -1;
    }
}

.footer-top-inner {
    background-color: $brick;
    padding: 0 0 130px;
    clip-path: url('#svgPathFooterTop');
    position: absolute;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footer-top {
    padding: 90px 0 130px;
    position: relative;

    .uk-container {
        position: relative;
        z-index: 1;
    }

    h2,
    h3,
    span,
    p {
        color: $white;
    }

    h2,
    p {
        font-weight: $light;
    }

    h2 {
        font-size: 57px;
        margin: 0 0 35px;
    }

    h3 {
        font-size: 26px;
        font-weight: $bold;
        margin: 15px 0 10px;
    }

    p {
        margin: 0 0 20px;
        font-size: 16px;
        line-height: 1.7;
    }

    span {
        font-size: 64px;
    }

    .uk-button-default {
        border: 0;

        &::after {
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }

        &::before {
            opacity: 0;
            background-color: $brown;
        }

        @include hover {
            &::before {
                opacity: 1;
            }
        }
    }

    @media (max-width: $breakpointLarge) {
        background-position: right;
        padding: 90px 0 30vh;

        >.uk-container {
            padding: 0 40px;
        }

        h2 {
            padding: 0 5px;
        }
    }

    @media (max-width: 667px) {
        padding: 90px 0 200px;
    }

    @media (max-width: $breakpointSmall) {
        padding: 90px 0 35vh;

        h2 {
            font-size: 44px;
            padding: 0;
        }

        >.uk-container {
            padding: 0 20px;
        }
    }
}

.footer-top-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &:not(:last-of-type) {
        padding-right: 40px;
    }

    @media (max-width: $breakpointLarge) {
        margin-bottom: 45px;
        padding: 0 10px;

        &:not(:last-of-type) {
            padding: 0 10px 0;
        }
    }

    @media (max-width: $breakpointSmall) {
        margin-bottom: 50px;
        padding: 0;

        &:not(:last-of-type) {
            padding: 0;
        }

        .uk-button {
            min-width: 280px;
            text-align: left;
        }
    }
}

.footer-middle {
    position: relative;
    padding: 55px 0;
    width: 100%;
    z-index: 0;

    .shape {
        color: $blue-light;
        fill: $blue-light;
    }

    h2 {
        font-size: 34px;
        margin-bottom: 25px;
    }

    h2,
    p,
    li,
    span {
        font-weight: $light;
    }

    h3 {
        font-weight: $bold;
        font-size: 18px;
        margin: 0 0 10px 0;
    }

    p {
        font-size: 18px;
    }

    li,
    a:not(.uk-button),
    span {
        font-size: 16px;
    }

    li {
        color: $brown;
    }

    .uk-button.blue {
        text-align: left;

        .font-newspaper-solid {
            color: $brown;
            padding: 15px 26px 15px 55px;

            &::before {
                left: 23px;
                right: auto;
            }
        }
    }

    span {
        color: $brown;

        a {
            display: inline-block;
            color: $brown;
            font-weight: $bold;
            position: relative;
            line-height: 1.2;
            margin-bottom: 0;

            &::before {
                font-size: 15px;
                color: $brown;
                display: inline-block;
                margin: 0 5px;
                position: relative;
                top: 1px;
            }
        }
    }

    ul {
        padding: 0;
        margin: 0;
    }

    .enquiries .uk-button-text {
        font-weight: $light;
        color: $brick;
        font-size: 16px;
        line-height: 1.5;
        margin-bottom: 28px;

        &::before,
        &::after {
            background-color: $brick;
            height: 1px;
            bottom: 2px;
        }

        @include hover {
            color: $brick;

            &::before,
            &::after {
                border: 0;
            }
        }
    }

    .footer-middle-credit {
        padding-top: 65px;

        a,
        p {
            color: $brown;
            font-size: 13px;
            font-weight: $light;
        }

        a {
            @include hover {
                color: $brick;
            }
        }

        .nb-credit a {
            font-weight: $bold;
        }
    }

    @media (max-width: $breakpointLarge) {
        padding: 60px 0 55px;

        >.uk-container {
            padding: 0 50px;

            >.uk-flex {
                flex-direction: column;

                >.uk-flex-between:first-of-type {
                    margin-bottom: 60px;
                }
            }

            .nb-copyright {
                padding-bottom: 35px;
            }
        }
    }
    @media (max-width: 667px) {
        >.uk-container {
            position: relative;
            top: -30px;
        }
        
    }

    @media (max-width: $breakpointSmall) {
        padding: 5px 0 50px;

        >.uk-container {
            padding: 0 20px;
            top: -50px;

            .uk-button-primary {
                width: 100%;

                &:not(.blue) {
                    text-align: left;
                    margin-top: 25px;
                }

                &.blue .font-newspaper-solid {
                    padding: 15px 19px 15px 50px;

                    &::before {
                        left: 20px;
                        font-size: 18px;
                    }
                }
            }

            >.uk-flex {
                >.uk-flex {
                    flex-direction: column;
                }

                >.uk-flex-between:first-of-type {
                    margin-bottom: 50px;
                }
            }
        }

        .enquiries,
        .footer-middle-credit {
            padding-top: 60px;
        }
    }
}

.footer-middle-inner {
    height: calc(100% + 85px);
    position: absolute;
    left: 50%;
    width: 101.8%;
    top: -85px;
    bottom: 0;
    transform: translateX(-50%);
    z-index: -1;

    >.shape {
        color: $blue-light;
        fill: $blue-light;
    }

    @media (max-width: $breakpointLarge) {
        height: calc(100% + 150px);
        top: -150px;
    }

    @media (max-width: 667px) {
        height: calc(100% + 280px);
        top: -280px;
    }

    @media (max-width: $breakpointSmall) {
        height: calc(100% + 310px);
        top: -340px;
    }
}

.footer-bottom {
    padding: 25px 0;

    span {
        font-size: 26px;
        font-weight: $light;
        color: $brown;
    }

    @media (max-width: $breakpointLarge) {
        padding: 25px 0 45px;

        span {
            margin-bottom: 30px;
            display: block;
        }
    }

    @media (max-width: $breakpointSmall) {
        span.uk-first-column {
            padding-bottom: 0;
        }

        padding: 25px 0 20px;
    }
}
